[Unit]
Description=Burner Calendar Gateway
After=multi-user.target

[Service]
Type=simple
User=1000
PermissionsStartOnly=true
ExecStart=/usr/bin/node /home/pi/Documents/burner_calendar/server/.


#WatchdogSec=30
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target


