<div class="calendar agenda">
    <div class="day">
        <div class="head"></div>
        <div class="events">
            <div class="item">
                <table>
                    <tr>
                        <td class="bullet">
                            <div>
                                <img class="icon" src=""/>
                            </div>

                        </td>
                        <td>
                            <div class="content">
                                <div class="starttime"></div>
                                <div class="summary"></div>
                                <div class="by"></div>
                                <div class="location"></div>
                                <div class="endtime"></div>
                            </div>

                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>