<div class="event-details">
    <div class="background">

        <div class="head">

            <table>
                <tr >
                    <td>
                        <h1 class="summary"></h1>
                        <div class="starttime"></div>
                        <div class="location"></div>

                    </td>
                    <td class="bullet">
                        <div>
                            <img class="icon" src=""/>
                        </div>

                    </td>
                </tr>
            </table>
        </div>

        <div class="content">
            <div class="description"></div>
        </div>
    </div>
</div>