

body{
    background-color: black;
    color: white;
    font-family: 'Monda', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

.statusinfo{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 2vw;
    color: grey;
    opacity: 0.7;
}

.calendar.agenda{
    background-color: black;
    clear: both;
}

.agenda .day{
    float: left;
}

.agenda .day .head{
    font-size: 2em;
    padding: 5px;
}

.agenda .day .events .item{
    position: relative;
    margin: 5px;
    border-radius: 4px;
}

.agenda .day .events .item .starttime{
    font-size: 1.2em;
    padding:4px;
    padding-left: 10px;
}

.agenda .day .events .item .starttime > span{
    border-radius: 4px;
    background-color: rgba(255,255,255,0.2);
    padding:3px ;
    padding-left: 10px;
    padding-right: 10px;
    max-width:140px;
    display: block;
    opacity: 0.7;
}

.agenda .day .events .item .summary{
    font-size: 1.2em;
    padding:4px;
    padding-left: 14px;
}

.agenda .day .events .item .location{
    font-size: 0.9em;
    opacity: 0.4;
    position: absolute;
    right:15px;
    top:15px;
    padding: 0px;

}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.95;
    }
}

@keyframes fadeout {
     0%{
         opacity: 0.95;
     }
     100%{
         opacity: 0.0;
     }
}

.fadeout{
    animation: fadeout 0.2s;
    opacity: 0;
}

.event-details{
    position: absolute;
    top: 5%;
    bottom:5%;
    left:10%;
    right: 10%;
    background-color: #111111;
    border-radius: 20px;
    box-shadow:
            0 0 1px 1px #fff,
            0 0 3px 3px #aaa7ad,
            0 0 10px 10px rgba(171, 174, 176, 0.6);

    opacity: 0.95;
    padding: 10px;
    margin: 0;
    animation: fadein 0.3s;
    overflow: auto;
}

.event-details .background{
    min-height: 100%;
    border-radius: 15px;
    background-color: #eeeeee;
}
.event-details h1{
    font-size: 5vw;
}

.event-details .head{
    padding: 15px;
}

.event-details .starttime{
    padding-top: 5px;
    font-size: 2.5vw;
}
.event-details .location{
    padding-top: 5px;
    font-size: 2.5vw;
}

.event-details .content{
    padding-top: 0;
    color: #333333;

}

.event-details .description{
    padding: 15px;


}
.event-details .description p{

}

.clock{
    position: absolute;
    right: 20px;
    bottom: 10px;
    border-radius: 8px;
    background-color: #333333;
    padding: 10px;
    font-size: 3em;
    opacity: 0.7;
}




@media only screen and (max-width: 768px){
    body {
        font-size: 13px;
    }
}

@media only screen and (max-width: 400px){
    body {
        font-size: 12px;
    }

}

